<div id="<%= dom_id company %>">
  <p>
    <strong>Image:</strong>
    <%= company.image %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= company.name %>
  </p>

  <p>
    <strong>Student name:</strong>
    <%= company.student_name %>
  </p>

  <p>
    <strong>Student info:</strong>
    <%= company.student_info %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= company.description %>
  </p>

  <p>
    <strong>Detail link:</strong>
    <%= company.detail_link %>
  </p>

</div>
